body {
	background-color: silver;
	border-collapse: collapse;
	border-color: teal;
	border-style: outset;
	border-width: 3px;
	color: maroon;
	font-size: large;
	font-family: Dubai, Dubai, Dubai;
	font-stretch: unchanged;
	font-weight: 500;
	min-width: 50px;
	outline-style: solid;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	text-align: left;
}

input, label {
    display:block;
}

input[type=text] [type=email] [type=tel]{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #A52A2A;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


p {
	font-family: Dubai;
}

h1 {
	font-family: Dubai;
}

h2 {
	color: #800000;
	font-family: Roman;
	font-stretch: unchanged;
	font-variant: small-caps;
	font-weight: 800;
	font-size: xx-large;
	letter-spacing: 5px;
	text-decoration: overline underline;
	text-indent: 22px;
	word-spacing: 5px;
}

h3 {
	font-family: Dubai;
}